.main-nav
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 100px
    background-color: #252525
    .links
        display: grid
        justify-content: space-around
        grid-auto-flow: column
        align-content: center

        a
            text-decoration: none
            color: #fdfdfd
        a.active
            color: #00dcff
