@import "../../Sass/Mixins/Mixins"
@import "../../Sass/Variables/Variables"

.main-nav
    display: grid
    width: 100%
    height: 80px
    z-index: 1
    position: fixed
    justify-self: center
    place-content: center
    grid-template-columns: 1fr 1.4fr
    background: rgb(28,28,30 ,0)
    backdrop-filter: blur(5px)
    @include shadow($shadow  , $transition , 10px )
    @media (max-width: 415px)
        width: 320px
        padding: 0px 20px

    header
        font-family: "Sofia", sans-serif
        display: grid
        justify-content: center
        font-size: 40px
        color: #4f7afe
        @media (max-width: 415px)
            font-size: 18px

    .shadow
        display: grid
        grid-auto-flow: column
        justify-content: space-evenly
        align-items: center

        a
            display: grid
            place-content: center
            color: white
            cursor: pointer
            @include shadow($shadow  , $transition , 10% )
            width: 80px
            height: 35px
            @media (max-width: 415px)
                display: grid
                place-content: center
                @include shadow($shadow  , $transition , 134px )
                width: 30px
                height: 30px

            .icons
                display: grid
                place-content: center
                font-size: 26px
                color: #4f7afe
                @media (max-width: 415px)
                    font-size: 18px

        a.active
            box-shadow: $activeshadow
            background: $bk
