@import "../../Sass/Mixins/Mixins"
@import "../../Sass/Variables/Variables"

.main-nav
    display: grid
    width: 100%
    grid-template-columns: 20% 70%
    grid-template-rows: repeat( auto-fill, minmax(560px , 1fr) )
    column-gap: 20px
    background: $bk
    @media (max-width: 415px)
        display: grid
        justify-content: center
        grid-template-columns: 380px
        grid-template-rows: 70px 550px
        row-gap: 30px

    .links
        display: grid
        background: $bk
        justify-content: center
        align-content: center
        align-items: center
        justify-items: center
        grid-auto-flow: row
        gap: 36px 0px

        @include shadow($shadow  , $transition , 10px )
        @media (max-width: 960px)
            display: grid
            grid-auto-flow: row
            justify-items: center
        @media (max-width: 415px)
            display: grid
            grid-auto-flow: column
            gap: 0px 5px
            justify-content: space-evenly
        .effect
            position: absolute
            height: 150px
            width: 150px
            border-radius: 134px
            background-color: $bk
            top: 63px
            box-shadow: $activeshadow
            @media (max-width: 960px)
                display: grid
                height: 125px
                width: 125px
                top: 86px
                box-shadow: $activeshadow
            @media (max-width: 415px)
                height: 0px
                width: 0px
                top: 28px
                left: 45px
        .about-me
            z-index: 1
            width: 100%
            height: 200px
            display: grid
            justify-items: center
            margin-top: 10px

            row-gap: 5px
            @media (max-width: 960px)
                display: grid
                justify-items: center
                width: 140px
                height: 150px
                row-gap: 10px
                margin: 0px

            @media (max-width: 415px)
                width: 80px
                height: 50px
                display: grid
                row-gap: 3px
                grid-auto-flow: row
            .avatar
                background-image: url('../../Pictures/real.jpg')
                border-radius: 50%
                background-size: cover
                background-position: center
                background-repeat: no-repeat
                height: 130px
                width: 130px
                box-shadow: $activeshadow
                @include shadow($shadow  , $transition , 134px )
                @media (max-width: 960px)
                    height: 110px
                    width: 110px
                @media (max-width: 415px)
                    height: 40px
                    width: 40px
            .name
                display: grid
                align-items: center
                justify-items: center
                height: 45px
                width: 180px
                background: $bk
                box-shadow: $activeshadow
                font-family: 'Roboto', sans-serif
                color: #ffffff
                @media (max-width: 960px)
                    height: 35px
                    width: 135px
                    font-size: 13px
                @media (max-width: 415px)
                    display: grid
                    place-items: center
                    height: 10px
                    padding: 2px
                    width: 80px
                    font-size: 8px

        a
            display: grid
            place-content: center
            @include shadow($shadow  , $transition , 27px )
            width: 180px
            height: 30px
            @media (max-width: 960px)
                width: 120px
            @media (max-width: 415px)
                display: grid
                place-content: center
                @include shadow($shadow  , $transition , 134px )
                width: 40px
                height: 40px

            .icons
                display: grid
                place-content: center
                font-size: 26px
                color: #4f7afe
                @media (max-width: 415px)
                    font-size: 18px

        a.active
            box-shadow: $activeshadow
            background: $bk
    .content
        display: grid
        @include shadow($shadow  , $transition , 10px )
        padding: 30px
        @media (max-width: 415px)
            padding: 6px
            display: grid
            justify-content: center
