@import '../../Sass/Mixins/Mixins'
@import '../../Sass/Variables/Variables'
.main-container
    display: grid
    grid-template-rows: 50px 1fr
    width: 100%
    place-items: center

    .title
        display: grid
        color: #4f7afe
        font-size: 22px
    .content-work
        display: grid
        font-size: 30px
        color: #4f7afe
        row-gap: 30px
        @media (max-width: 415px)
            font-size: 26px
            place-items: center
        .titles
            font-size: 30px
            @media (max-width: 415px)
                font-size: 26px
            .mark
                color: #EED96E

        .icon
            margin-left: 90px
            @media (max-width: 415px)
                margin-left: 1px
                font-size: 30px
