@import "../../Sass/Mixins/Mixins"
@import "../../Sass/Variables/Variables"

.main-skills

    display: grid
    height: 100%
    grid-row-gap: 30px
    grid-template-columns: 1fr
    grid-template-rows: 2fr 1.4fr 0.2fr
    .languages
        display: grid
        gap: 5px
        .title
            margin-left: 35%
            display: grid
            background: $bk
            place-content: center
            font-size: 22px
            height: 40px
            width: 200px
            box-shadow: $activeshadow
            color: #4f7afe
        .icons
            display: grid
            width: 150px
            align-items: end
            justify-items: center
            align-self: end
            font-size: 25px
        .lines
            display: grid
            place-self: center
            height: 15px
            width: 80%
            border-radius: 27px
            box-shadow: $activeshadow
            .lines__color
                height: 100%

                border-radius: 27px
                .lines__icons
                    font-size: 20px

    .tools
        display: grid
        grid-template-columns: repeat(5 , 1fr)
        justify-items: center
        align-items: center
        .tools__items
            display: grid
            justify-content: center
            align-content: center
            height: 50px
            width: 120px
            font-size: 15px
            font-family: 'Roboto', sans-serif
            @include shadow($shadow, $transition , 20px )
    .exper
        display: grid
        column-gap: 12px
        justify-content: start
        grid-auto-flow: column
        font-size: 22px
        padding-left: 26px
        color: white
        .experienced
            color: #EED96E
            font-size: 22px
