.title {
  display: grid;
  place-content: center;
  color: #4f7afe;
  font-size: 22px;
}

.main-skills {
  display: grid;
  height: 100%;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.main-skills .front {
  display: grid;
  grid-template-rows: 120px 350px;
  margin: 0px 30px;
  padding: 0px 30px;
  box-shadow: -7px -7px 10px -8px #2d2d30, -4px -4px 5px -7px #2d2d30, 7px 7px 10px -9px #0b0b0c, 4px 4px 5px -1px #0b0b0c, inset 0px 0px 0px 0px #2d2d30, inset 0px 0px 0px 0px #0b0b0c, inset 0px 0px 0px 0px #2d2d30, inset 0px 0px 0px 0px #0b0b0c;
  transition: box-shadow 0.6 cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 10px;
}
@media (max-width: 415px) {
  .main-skills .front {
    padding: 0px 15px;
  }
}
.main-skills .front .front_block {
  display: grid;
}
.main-skills .front .front_block .front_first_line {
  display: grid;
  width: 100%;
  height: 12px;
  box-shadow: 4px 4px 4px -3px #2d2d30, -4px -4px 3px -5px #0b0b0c, inset -4px -4px 3px -5px #2d2d30, inset 4px 4px 3px -1px #0b0b0c;
  border-radius: 10px;
}
.main-skills .front .front_block .front_first_line .front_second_line {
  height: 100%;
  border-radius: 10px;
}
.main-skills .front .skill_lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
}
.main-skills .front .skill_lists .skills {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 60px;
  width: 80px;
  box-shadow: -7px -7px 10px -8px #2d2d30, -4px -4px 5px -7px #2d2d30, 7px 7px 10px -9px #0b0b0c, 4px 4px 5px -1px #0b0b0c, inset 0px 0px 0px 0px #2d2d30, inset 0px 0px 0px 0px #0b0b0c, inset 0px 0px 0px 0px #2d2d30, inset 0px 0px 0px 0px #0b0b0c;
  transition: box-shadow 0.6 cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 10px;
}
.main-skills .back {
  display: grid;
  margin: 0px 30px;
  grid-template-rows: 120px auto;
  padding: 0px 30px;
  padding-bottom: 20px;
  box-shadow: -7px -7px 10px -8px #2d2d30, -4px -4px 5px -7px #2d2d30, 7px 7px 10px -9px #0b0b0c, 4px 4px 5px -1px #0b0b0c, inset 0px 0px 0px 0px #2d2d30, inset 0px 0px 0px 0px #0b0b0c, inset 0px 0px 0px 0px #2d2d30, inset 0px 0px 0px 0px #0b0b0c;
  transition: box-shadow 0.6 cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 10px;
}
@media (max-width: 415px) {
  .main-skills .back {
    padding: 0px 15px;
  }
}
.main-skills .back .back_block {
  display: grid;
}
.main-skills .back .back_block .back_first_line {
  display: grid;
  width: 100%;
  height: 12px;
  box-shadow: 4px 4px 4px -3px #2d2d30, -4px -4px 3px -5px #0b0b0c, inset -4px -4px 3px -5px #2d2d30, inset 4px 4px 3px -1px #0b0b0c;
  border-radius: 10px;
}
.main-skills .back .back_block .back_first_line .back_second_line {
  height: 100%;
  border-radius: 10px;
}
.main-skills .back .skill_lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  row-gap: 20px;
  padding-bottom: 40px;
}
.main-skills .back .skill_lists .skills {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 60px;
  width: 80px;
  box-shadow: -7px -7px 10px -8px #2d2d30, -4px -4px 5px -7px #2d2d30, 7px 7px 10px -9px #0b0b0c, 4px 4px 5px -1px #0b0b0c, inset 0px 0px 0px 0px #2d2d30, inset 0px 0px 0px 0px #0b0b0c, inset 0px 0px 0px 0px #2d2d30, inset 0px 0px 0px 0px #0b0b0c;
  transition: box-shadow 0.6 cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 10px;
}/*# sourceMappingURL=Skills.css.map */