@import "../../Sass/Mixins/Mixins"
@import "../../Sass/Variables/Variables"

.title
    display: grid
    place-content: center
    color: #4f7afe
    font-size: 22px
.main-skills
    display: grid
    height: 100%
    grid-gap: 50px
    grid-template-columns: repeat(auto-fit , minmax(400px , 1fr))

    .front
        display: grid
        grid-template-rows: 120px 350px
        margin: 0px 30px
        padding: 0px 30px
        @include shadow($shadow  , $transition , 10px )
        @media (max-width: 415px)
            padding: 0px 15px
        .front_block
            display: grid
            .front_first_line
                display: grid
                width: 100%
                height: 12px
                box-shadow: $activeshadow
                border-radius: 10px
                .front_second_line
                    height: 100%
                    border-radius: 10px
        .skill_lists
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
            justify-items: center
            .skills
                display: grid
                justify-items: center
                align-content: center
                height: 60px
                width: 80px
                @include shadow($shadow  , $transition , 10px )

    .back
        display: grid
        margin: 0px 30px
        grid-template-rows: 120px auto
        padding: 0px 30px
        padding-bottom: 20px
        @include shadow($shadow  , $transition , 10px )
        @media (max-width: 415px)
            padding: 0px 15px
        .back_block
            display: grid
            .back_first_line
                display: grid
                width: 100%
                height: 12px
                box-shadow: $activeshadow
                border-radius: 10px
                .back_second_line
                    height: 100%
                    border-radius: 10px
        .skill_lists
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
            justify-items: center
            row-gap: 20px
            padding-bottom: 40px
            .skills
                display: grid
                justify-items: center
                align-content: center
                height: 60px
                width: 80px
                @include shadow($shadow  , $transition , 10px )
