@import "../../Sass/Mixins/Mixins"
@import "../../Sass/Variables/Variables"

.main-skills

    display: grid
    height: 100%
    grid-row-gap: 30px
    grid-template-columns: 370px
    grid-template-rows: 2fr 1.4fr 0.2fr
    .languages
        display: grid
        gap: 5px
        .title
            margin-left: 35%
            margin-top: 8px
            display: grid
            background: $bk
            place-content: center
            font-size: 22px
            height: 40px
            width: 200px
            box-shadow: $activeshadow
            color: #4f7afe
            @media (max-width: 415px)
                font-size: 18px
                height: 25px
                width: 180px
                margin-left: 25%
        .icons
            display: grid
            width: 40px
            align-items: end
            justify-items: center
            align-self: end
            font-size: 25px
            @media (max-width: 415px)
                display: grid
                justify-items: end
                font-size: 20px

        .lines
            display: grid
            place-self: center
            height: 15px
            width: 80%
            border-radius: 27px
            box-shadow: $activeshadow
            @media (max-width: 415px)
                width: 90%
                height: 12px
            .lines__color
                height: 100%
                border-radius: 27px

    .tools
        display: grid
        grid-template-columns: repeat(5 , 1fr)
        justify-items: center
        align-items: center
        row-gap: 10px
        @media (max-width: 415px)
            justify-content: center
            width: 100%
            justify-self: center
            grid-template-columns: repeat(3 , 1fr)

        .tools__items
            display: grid
            justify-content: center
            align-content: center
            height: 50px
            width: 120px
            font-size: 15px
            font-family: 'Roboto', sans-serif
            @include shadow($shadow, $transition , 20px )
            @media (max-width: 415px)
                display: grid
                height: 30px
                width: 80px
                font-size: 11px
    .exper
        display: grid
        column-gap: 12px
        justify-content: start
        grid-auto-flow: column
        font-size: 22px
        padding-left: 20px
        color: white
        @media (max-width: 415px)
            font-size: 12px
            column-gap: 6px
        .experienced
            color: #EED96E
            font-size: 22px

            @media (max-width: 415px)
                font-size: 12px
