.main-page
    display: grid
    grid-template-columns: 2fr 1fr
    grid-auto-flow: row
    
    .greet
        display: grid
        backdrop-filter: blur(13px)
        grid-template-rows: repeat(3 , 70px)
        align-content: center
        padding-left: 100px
        align-items: end
        grid-gap: 40px
        padding-top: 150px

        h1
            display: flex
            grid-auto-flow: row
            font-size: 120px
            margin: 0
            padding: 0
    .me
        display: grid
        padding-top: 150px
        align-content: center
        justify-content: center
        backdrop-filter: blur(6px)
