@import "../../Sass/Variables/Variables"
@import "../../Sass/Mixins/Mixins"
.main-page
    display: grid
    grid-template-columns: repeat(auto-fit , minmax(350px , 1fr))
    place-items: center
    padding-top: 150px
    @media (max-width: 415px)
        row-gap: 30px
        padding-top: 120px

    .greet
        display: grid
        height: 450px
        width: 400px
        place-content: center
        row-gap: 35px
        @include shadow($shadow , $transition  , 27px )
        @media (max-width: 415px)
            grid-auto-flow: column
            justify-content: space-evenly
            height: 80px
            width: 360px
            @include shadow($shadow , $transition  , 5px )

        h1
            display: grid
            place-content: center
            font-size: 70px
            height: 70px
            padding: 5px
            @media (max-width: 415px)
                font-size: 22px

    .container
        display: grid
        justify-content: center
        align-content: center
        background: $bk

        .form
            display: grid
            height: 450px
            width: 400px
            @include shadow($shadow , $transition  , 27px )
            place-content: center
            background: $bk
            row-gap: 15px
            @media (max-width: 415px)
                height: 400px
                width: 360px
                @include shadow($shadow , $transition  , 5px )

            .title
                text-align: center
                color: #4f7afe
                margin-bottom: 10px
                font-size: 35px

            .form__inputs
                display: grid
                grid-auto-flow: column
                place-items: center
                grid-row-gap: 10px
                column-gap: 10px
                label
                    color: #4f7afe
                    display: grid
                    align-content: center
                    font-size: 18px

                input
                    color: white
                    box-shadow: $activeshadow
                    padding-left: 10px
                    outline: none
                    border: none
                    border-radius: 5px
                    background-color: $bk
                    height: 40px
                    width: 300px
                    background: none
                    @media (max-width: 415px)
                        width: 220px
                        box-shadow: $activeshadow
                        -webkit-box-shadow: $activeshadow
                        -webkit-appearance: none

                textarea
                    color: white
                    padding-top: 5px
                    border: none
                    outline: none
                    padding-left: 10px
                    border-radius: 5px
                    background: $bk
                    height: 80px
                    width: 300px
                    box-shadow: $activeshadow
                    resize: none
                    @media (max-width: 415px)
                        width: 220px
                        box-shadow: $activeshadow
                        -webkit-box-shadow: $activeshadow
                        -webkit-appearance: none
            p
                color: #e93030

            .button
                display: grid
                margin-top: 10px
                justify-self: center
                margin-left: 26px
                height: 30px
                width: 200px
                @include shadow($shadow , $transition  , 27px )
                background: $bk
                @media (max-width: 415px)
                    width: 220px
                &:active
                    box-shadow: $activeshadow
