.main-page
    display: grid
    grid-template-columns: 1fr 1fr
    height: 400px
    .greet
        display: grid
        margin-left: 50px
        div
            display: grid
            grid-auto-flow: column
            .letters
                color: aqua
                font-size: 50px
        .hi
            display: grid
            align-items: end
